.header-about{
    .navbar{
        background-color: $light-bg !important ;
    }
}
.about-us{
    padding: 50px 70px 200px;
    .branches{
        @extend %branches ; 
    }
    .show-case{
        padding-inline: 280px ;
        text-align: center ;
        .text{
            color: $bg-color-1 ;
            font-size: 16pt ;
            &:nth-child(2){
                margin-bottom: 40px ;
            }
        }
    }
}

//ltr 
html[dir = "ltr"]{
    .about-us{
        .branches{
            @extend %branches-ltr ; 
        }
    }
}

@media(max-width:1199.98px){
    .about-us{
        .show-case{
            padding-inline: 120px ;
        }
    }
}
@media(max-width:912px){
    .about-us{
        .show-case{
            padding-inline: 70px ;
        }
    }
}
@media(max-width:768px){
    .about-us{
        .show-case{
            padding-inline: 50px ;
        }
    }
}
@media(max-width:575.98px){
    .about-us{
        padding: 50px 50px 200px ;
        .show-case{
            padding-inline: 30px ;
        }
    }
}
@media(max-width:500px){
    .about-us{
        padding: 50px 20px 200px ;
        .show-case{
            padding-inline: 10px ;
        }
    }
}


