.add-report{
    .order-info:not(:last-child){
        margin-bottom: 40px ;
    }
    .reports{
        margin-top: 50px ;
        &>.title{
            background-color: $white ;
            padding: 12px 30px ;
            margin-bottom: 20px ;
            color: $active ;
            font-size: 16pt ;
            border-radius: 5px ;
            -webkit-border-radius: 5px ;
            -moz-border-radius: 5px ;
            -ms-border-radius: 5px ;
            -o-border-radius: 5px ;
        }
        .special-report{
            padding-right: 110px ;
            width: 60% ;
            &>.title{
                color: $active ;
                font-size: 12pt ;
                margin-bottom: 15px ;
            }
            .form-group{
                margin-bottom: 50px ;
                .content{
                    .form-control{
                        @extend %custom-select ; 
                        border-color: rgba($active ,  0.3);
                        width: 37% ;
                        color: $min-color ;
                    }
                    .btn{
                        @extend%btn ;
                        padding: 10px 25px ;
                        font-size: 15pt ;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        -ms-border-radius: 3px;
                        -o-border-radius: 3px;
                        -webkit-border-radius: 5px;
                    }
                }
                textarea.form-control{
                    box-shadow: none ;
                    border: 1px solid ;
                    border-color: rgba($active , 0.3) ;
                    border-radius: 8px ;
                    -webkit-border-radius: 8px ;
                    -moz-border-radius: 8px ;
                    -ms-border-radius: 8px ;
                    -o-border-radius: 8px ;
                    height: 130px ;
                    padding: 30px 30px 60px ;
                    font-size: 14pt ;
                    color: $min-color ;
                    caret-color: $bg-color-1 ;
                    &::placeholder{
                        color: $min-color ;
                    }
                }
            }
            .descriptions{
                &>.title{
                    color: $active ;
                    font-size: 14pt ;
                    margin-bottom: 15px ;
                }
                .content{
                    width: 60% ;
                    .form-control{
                        @extend %custom-select ; 
                        width: 60% ;
                        border-color: rgba($active ,  0.3);
                        color: $min-color ;
                    }
                    .btn{
                        @extend %btn ; 
                        font-size: 16pt ;
                        padding: 10px  30px ;
                    }
                }
                .select-content{
                    display: flex ;
                    flex-wrap: wrap ;
                    span{
                        background-color: $white ;
                        position: relative ;
                        padding: 8px 40px ;
                        font-size: 14pt ;
                        margin-bottom: 10px ;
                        color: $min-color ;
                        border: 1px solid ;
                        border-color: rgba( $active  , 0.5);
                        border-radius: 10px ;
                        -webkit-border-radius: 10px ;
                        -moz-border-radius: 10px ;
                        -ms-border-radius: 10px ;
                        -o-border-radius: 10px ;
                        img{
                            position: absolute ;
                            width: 15px ;
                            left: 7px ;
                            z-index: 5 ;
                            cursor: pointer ;
                        }
                        div{
                            display: inline ;
                        }
                        &:not(:last-child){
                            margin-left: 15px ;
                        }
                    }
                }
            }
        }
    }
    .recorded-reports{
        .report{
            padding-right: 110px ;
            width: 60% ;
            .title{
                margin-bottom: 15px ;
                span{
                    color: $active ;
                    margin-left: 10px ;
                }
                img{
                    cursor: pointer ;
                    &:not(:last-child){
                        margin-left: 10px ; 
                    }
                }
            }
            .special-record{
                .selected-content{
                    width: 40% ;
                    border: 1px solid ;
                    border-color: rgba($active , 0.5) ;
                    background-color: $white ; 
                    font-size: 14pt ;
                    padding: 10px 0.75rem ;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
                .text-content{
                    background-color: $white ;
                    padding: 30px 30px 60px  ;
                    color: $min-color ;
                    font-size: 14pt ;
                    border: 1px solid ;
                    border-color: #faca894d ;
                    border-radius:8px ;             
                    -webkit-border-radius:8px ;            
                    -moz-border-radius:8px ;             
                    -ms-border-radius:8px ;
                    -o-border-radius:8px ;
                }
            }
            &:not(:last-child){
                margin-bottom: 20px ; 
            }
        }
    }
    .button{
        @extend %submit-btn ; 
    }
}
#edit-report{
    .modal-dialog{
        max-width: 90% !important ;
        margin: 80px  auto  28px ;
        .modal-content{
            border: none ;
            &>.title{
                text-align: center ;
                color: $min-color ;
                font-weight: bold ;
                font-size: 17pt ;
                margin-top: 70px ;
                margin-bottom: 50px ;
                position: relative ;
            }
            .close{
                position: absolute ;
                right: 2% ;
                top: 3% ;
                cursor: pointer ;
            }
            .show-case{
                border: 2px solid $light-line ;
                background-color: $light-bg ;
                border-radius: 10px ;
                -webkit-border-radius: 10px ;
                -moz-border-radius: 10px ;
                -ms-border-radius: 10px ;
                -o-border-radius: 10px ;
                margin-inline: auto ;
                width: 70% ;
                padding: 50px 80px 120px ;
                margin-bottom: 150px ;
                .title{
                    color: $active ;
                    font-size: 12pt ;
                    margin-bottom: 20px ;
                }
                .form-group{
                    select{
                        @extend %custom-select ; 
                        width: 33% ;
                        color: $min-color ;
                        border-color: #faca894d ;
                    }
                    textarea{
                        @extend %textarea ; 
                    }
                    .button{
                        @extend %btn ; 
                        margin-top: 80px ;
                        text-align: center ;
                        width: 65% ;
                        margin-inline: auto ;
                        .btn{
                            color: $white ;
                            font-size: 18pt ;
                            width: 100% ;
                            box-shadow: none ;
                        }
                    }
                }
            }
        }
    }
}

//ltr 
html[dir = "ltr"]{
    .add-report{
        .reports{
            .special-report{
                padding-left: 0;
                padding-right: 0 ;
                .form-group{
                    .content{
                        .form-control{
                            background-position: 95% center ;
                        }
                    }
                }
                .descriptions{
                    .content{
                        .form-control{
                            background-position: 95% center ;
                        }
                    }
                    .select-content{
                        span{
                            img{
                                right: 7px ;
                                left: initial ;
                            }
                            &:not(:last-child){
                                margin-right: 15px ;
                                margin-left: 0 ;
                            }
                        }
                    }
                }
            }
        }
        .recorded-reports{
            .report{
                margin-left: 0 ;
                margin-right: 0 ;
                .title{
                    span{
                        margin-right: 10px ;
                        margin-left: 0 ;
                    }
                    img{
                        &:not(:last-child){
                            margin-left: 0 ;
                            margin-right: 10px ; 
                        }
                    }
                }
            }
        }
    }
}
#edit-report{
    .modal-dialog{
        .modal-content{
            .close{
                left: 2% ;
                right: initial ;
            }
            .show-case{
                .form-group{
                    select{
                        background-position: 95% center ;
                        text-align: left ;
                    }
                }
            }
        }
    }
}

//res rtl

@media(max-width:1199.98px){
    .add-report{
        .reports{
            .special-report{
                .descriptions{
                    .content{
                        width: 80% ;
                    }
                }
            }
        }
    }
}
@media(max-width:991.98px){
    .add-report{
        .reports{
            .special-report{
                .descriptions{
                    .content{
                        width: 95% ;
                    }
                }
            }
        }
    }
}
@media(max-width:920px){
    .add-report{
        .reports{
            .special-report{
                .form-group{
                    width:120% ; 
                }
                .descriptions{
                    .content{
                        width: 110% ;
                    }
                }
            }
        }
    }
    #edit-report{
        .modal-dialog{
            .modal-content{
                .show-case{
                    .form-group{
                        select{
                            width: 50% ;
                        }
                    }
                }
            }
        }
    }    
}
@media(max-width:768px){
    .add-report{
        .reports{
            .special-report{
                padding-right: 0px;
                width: 85%;
            }
        }
        .recorded-reports{
            .report{
                padding-right: 0;
                width: 100%;
            }
        }
    }
    #edit-report{
        .modal-dialog{
            .modal-content{
                .show-case{
                    width: 90% ;
                }
            }
        }
    }
}
@media(max-width:575.98px){
    #edit-report{
        .modal-dialog{
            .modal-content{
                .show-case{
                    padding: 50px 10px 200px ;
                }
            }
        }
    }    
}
@media(max-width:400px){
    .add-report{
        .reports{
            .special-report{
                .form-group{
                    .content{
                        flex-direction: column ;
                        .form-control{
                            width: 96% ;
                        }
                    }
                }
                .descriptions{
                    .content{
                        flex-direction: column ;
                        .form-control{
                            width: 100% ;
                        }
                    }
                    .select-content{
                        width: 115% ;
                    }
                }
            }
        }
        .button{
            .btn{
                width: 90% ;
            }
        }
    }
    #edit-report{
        .modal-dialog{
            .modal-content{
                .show-case{
                    .form-group {
                        select{
                            width: 100% ;
                        }
                        .button{
                            width: 100% ;
                        }
                    }
                }
            }
        }
    }   
}

//dir(ltr)
@media(max-width:768px){
    html[dir = "ltr"]{
        .add-report{
            .reports{
                padding-left: 0 ;
                margin-left: 0 ;
            }
            .recorded-reports{
                padding-left: 0 ;
                margin-left: 0;
            }
        }
    }
}
