.edit-profile-info{
    .show-case{
        .image-profile{
            img{
                transition: all 300ms ease ;
                -webkit-transition: all 300ms ease ;
                -moz-transition: all 300ms ease ;
                -ms-transition: all 300ms ease ;
                -o-transition: all 300ms ease ;
                filter: blur(6px);
                -webkit-filter: blur(6px);
            }
            .overlay{
                background-color: rgba($black , 0.4) ;
                position: absolute ;
                top: 0 ;
                left: 0 ;
                opacity: 0.9;
                width: 115px ;
                height: 115px ;
                line-height: 115px ;
                border-radius: 50% ;
                -webkit-border-radius: 50% ;
                -moz-border-radius: 50% ;
                -ms-border-radius: 50% ;
                -o-border-radius: 50% ;
            }
        }
        .camera{
            position: absolute;
            top: -49px ;
            left: 50% ;
            width: 115px ;
            height: 115px ;
            text-align: center ;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            img{
                position: absolute ;
                left: 50% ;
                transform: translate(-50% , 85%);
                -webkit-transform: translate(-50% , 85%);
                -moz-transform: translate(-50% , 85%);
                -ms-transform: translate(-50% , 85%);
                -o-transform: translate(-50% , 85%);
            }
            input[type="file"]{
                display: none ;
            }
        }
        .form-group{
            .main-sector , .sub-sector , .exp-sector , .importants-sector{
                @extend %select ; 
                .form-control{
                    text-align: right ;
                    background-position-x: 8%
                }
            }
            .label-map{
                position: relative ;
                a{
                    position: absolute ;
                    left: 7%;
                    top: 14% ;
                }
            }
            textarea{
                resize: none ;
                height: 200px;
                resize: auto;
            }
            .importants-sector{
                margin-top: 20px ;
                margin-bottom: 15px ;
                .form-control{
                    color: $active ;
                    font-weight: normal ;
                }
            }
            label.key-country{
                top: 85px !important ;
            }
            label{
                .importants{
                    flex-wrap: wrap ;
                    .custom-input{
                        position: relative;
                        display: flex ;
                        width: 30% ;
                        .form-control{
                            position: relative;
                            width: 100% ;
                            padding-inline: 10px ;
                            margin-left: 15px !important ;
                        }
                        .close{
                            position: absolute ;
                            cursor: pointer;
                            z-index: 100;
                            width: 10px ;
                            left: 20px ;
                            top: 5px ;
                        }
                    }
                }
            }
            .another-image{
                margin-bottom: 20px ;
                .title{
                    color: $active ;
                    margin-bottom: 10px ;
                }
                .images{
                    display: flex ;
                    align-items: center ;
                    flex-wrap: wrap ;
                    .image{
                        background-color: $white ;
                        border: 1px solid $light-bg ;
                        border-radius: 15px ;
                        -webkit-border-radius: 15px ;
                        -moz-border-radius: 15px ;
                        -ms-border-radius: 15px ;
                        -o-border-radius: 15px ;
                        width: 110px ;
                        height: 130px ;
                        margin-bottom: 15px ;
                        display: flex ;
                        align-items: center ;
                        justify-content: center ;
                        img{
                            width: 40px ;
                        }
                    }
                    .image:not(:last-child){
                        margin-left: 15px ; 
                    }
                }
            }
            .clinic-date{
                background-color: $white ;
                margin-bottom: 50px ;
                padding: 30px 100px 50px 30px ;
                width: 150% ;
                position: relative ;
                right: 50% ;
                transform: translateX(50% );
                -webkit-transform: translateX(50% );
                -moz-transform: translateX(50% );
                -ms-transform: translateX(50% );
                -o-transform: translateX(50% );
                border: 1px solid $light-line ;
                border-radius: 5px ;
                -webkit-border-radius: 5px ;
                -moz-border-radius: 5px ;
                -ms-border-radius: 5px ;
                -o-border-radius: 5px ;
                .add-btn{
                    display: block ;
                    margin-right: auto ;
                    background-image: linear-gradient($btn-1 , $btn-2);
                    color: $white ;
                    border: none ;
                    margin-bottom: 25px ;
                    font-size: 15pt ;
                    padding-inline: 25px ;
                    box-shadow: none ;
                    transition: all 300ms ease;
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    &:hover{
                        background-image: linear-gradient($hover-btn-1 , $hover-btn-2);
                    }
                }
                .clinic-days{
                    margin-bottom: 30px ;
                    select{
                        width: 92% ;
                        border: 1px solid $active !important ;
                        position: initial ;
                        background-image: url("../icons/Icon\ ionic-md-arrow-dropdown.svg");
                        background-repeat: no-repeat ;
                        background-size: 18px ;
                        background-position: 5% center ;
                        color: $active ;
                        font-weight: normal ;
                    }
                }
                .start-time{
                    width: 88% ;
                    .add-time{
                        display: flex ;
                        justify-content: space-between ;
                        .form-control{
                            border-color: $active ; 
                            width: 32% ;
                            text-align: center ;
                        }
                        .btn{
                            background-image: linear-gradient($btn-1 , $btn-2);
                            color: $white ;
                            border: none ;
                            font-size: 15pt ;
                            padding-inline: 25px ;
                            box-shadow: none ;
                            height: 40px ;
                            box-shadow:  -1px 1px  5px 1px #ddd ;
                        }
                    }
                }
                .end-time{
                    margin-top: 50px ;
                }
                .selected-start-time  , .selected-end-time{
                    display: flex ;
                    align-items: baseline ;
                    flex-wrap: wrap ;
                    input{
                        margin-top: 15px;
                        border: 1px solid $active ;
                        text-align: center ;
                        width: 22% ;
                        margin-left: 15px;
                        display: none ;
                        &::-webkit-calendar-picker-indicator{
                            display: none;
                        }
                    }
                }
            }
            .dates{
                @extend %clinic-date ; 
                flex-wrap: nowrap ;
                overflow: auto;
                width: 150% ;
                position: relative ;
                right: 50% ;
                transform: translateX(50% );
                -webkit-transform: translateX(50% );
                -moz-transform: translateX(50% );
                -ms-transform: translateX(50% );
                -o-transform: translateX(50% );
                .date{
                    position: relative ;
                    max-width: 335px ;
                    min-width: 335px ;
                    color: $min-color ;
                    padding-inline: 30px ;
                    img{
                        position: absolute ;
                        left: 10px ;
                        top: 7px ;
                        width: 15px ;
                        cursor: pointer ;
                    }
                    .time{
                        display: inline-block ;
                        input{
                            border: none ;
                            text-align: center ;
                            color: $min-color ;
                            outline: none ;
                            &::-webkit-calendar-picker-indicator{
                                display: none;
                            }
                        }
                        .dot{
                            margin-inline: 2px ;
                        }
                    }
                }
            }
        }
    }
}


//ltr 
html[dir = "ltr"]{
    .edit-profile-info{
        .show-case{
            .form-group{
                .main-sector , .sub-sector , .exp-sector , .importants-sector{
                    .form-control{
                        text-align: left ;
                        background-position-x: 92%
                    }
                }
                label{
                    .importants{
                        .custom-input{
                            .close{
                                left: initial ;
                                right: 7px ;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:575.98px){
    .edit-profile-info{
        .show-case{
            .form-group{
                label{
                    .importants{
                        .custom-input{
                            width: 42% ;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:280px){
    .edit-profile-info{
        .show-case{
            .form-group{
                label{
                    .importants{
                        .custom-input{
                            width: 48% ;
                        }
                    }
                }
            }
        }
    }
}

