.modal-forget{
    .modal-dialog{
        .row{
            .col-6{
                .signin{
                    padding: 150px 50px  80px;
                    .title{
                        font-size: 18pt ;
                        font-weight: bolder ;
                        margin-bottom: 10px;
                    }
                    .sub{
                        padding-inline: 80px ;
                        text-align: center ;
                        font-size: 11pt;
                        margin-bottom: 35px ;
                    }
                    .form-group{
                        .buttons{
                            margin-top: 60px ;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1199.98px){
    .modal-forget{
        .modal-dialog{
            .row{
                .col-6{
                    .signin{
                        .sub{
                            padding-inline: 50px ;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:1024px){
    .modal-forget{
        .modal-dialog{
            .row{
                .col-6{
                    .signin{
                        padding: 150px 30px 80px ;
                        .sub{
                            padding-inline: 20px ;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:912px){
    .modal-forget{
        .modal-dialog{
            max-width: 90% !important ;
        }
    }
}
@media(max-width:575.98px){
    .modal-forget{
        .modal-dialog{
            max-width: 97% !important ;
            .row{
                .col-6{
                    .signin{
                        .sub{
                            padding-inline: 10px ;
                        }
                        .form-group{
                            .buttons{
                                .sign{
                                    font-size: 12pt ;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:280px){
    .modal-forget{
        .modal-dialog{
            .row{
                .col-6{
                    .signin{
                        padding: 150px 10px 80px ;
                    }
                }
            }
        }
    }
}