.new-order-info{
    position: relative ;
    padding: 50px 70px 100px;
    .branches{
        @extend %branches ; 
        .branch-1{
            z-index: 5 ;
        }
        .branch-2{
            z-index: 4 ;
        }
        .branch-3{
            z-index: 3 ;
        }
        .branch-4{
            z-index: 2 ;
            margin-right: 35px ;
            span{
                width: 150% ;
                z-index: 25 ;
            }
            img{
                transform: scaleX(2);
                -webkit-transform: scaleX(2);
                -moz-transform: scaleX(2);
                -ms-transform: scaleX(2);
                -o-transform: scaleX(2);
            }
        }
        .branch-5{
            z-index: 1 ;
            margin-right: 75px ;
            span{
                z-index: 25 ;
                width: 110% ;
            }
            img{
                transform: scaleX(1.8);
                -webkit-transform: scaleX(1.8);
                -moz-transform: scaleX(1.8);
                -ms-transform: scaleX(1.8);
                -o-transform: scaleX(1.8);
            }
        }
    }
    .order-info{
        padding: 30px 30px 80px;
        border: 2px solid $light-line ;
        background-color: $light-bg;
        border-radius: 10px ;
        -webkit-border-radius: 10px ;
        -moz-border-radius: 10px ;
        -ms-border-radius: 10px ;
        -o-border-radius: 10px ;
        .info{
            display: flex ;
            .user-img{
                img{
                    min-height: 110px ;
                    max-height: 110px ;
                    min-width: 110px ;
                    max-width: 110px ;
                    border: 4px solid $active ;
                    border-radius: 50%; 
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
            }
            .data{
                margin-top: 25px ;
                margin-right: 25px ;
                width: 100% ;
                .name{
                    .text{
                        font-size: 22pt ;
                        color: $min-color ;
                        font-weight: bold ;
                    }
                }
                .date{
                    color: $active ;
                    font-size: 14pt ;
                    margin-bottom: 25px ;
                }
                .type-of-counseling{
                    color: $active ;
                    font-size: 16pt ;
                    margin-bottom: 30px ;
                    .text{
                        color: $min-color ;
                        margin-right: 15px ;
                    }
                    & > div + div{
                        margin-block: 5px ;
                    }
                    .time-consult{
                        margin-right: 10px ;
                        color: $black ;
                    }
                }
                .reserved-specialty{
                    margin-bottom: 40px ;
                    .title{
                        color: $active ;
                        font-size: 16pt ;
                        margin-bottom: 20px ;
                    }
                    .type-consult{
                        @extend %type-consult ; 
                    }
                }
                .address-consult{
                    margin-bottom: 40px ;
                    .title{
                        color: $active ;
                    }
                    .text{
                        color: $min-color ;
                    }
                }
                .animal-logs{
                    margin-bottom: 40px ;
                    .title{
                        color: $active ;
                        margin-bottom: 20px ;
                    }
                    .images{
                        display: flex ;
                        .animal{
                            width: 150px ;
                            position: relative ;
                            img{
                                border-radius: 15px ;
                                -webkit-border-radius: 15px ;
                                -moz-border-radius: 15px ;
                                -ms-border-radius: 15px ;
                                -o-border-radius: 15px ;
                                width: 100% ;
                            }
                            &:not(:first-child){
                                margin-right: 20px ;
                            }
                            .name{
                                position: absolute ;
                                bottom: 0 ;
                                right: 0 ;
                                background-color: $white ;
                                color: $min-color ;
                                width: 100px ;
                                height: 35px;
                                text-align: center ;
                                border-top-left-radius: 15px ;
                                border-bottom-right-radius: 15px ;
                                box-shadow: 0 3px 5px 1px #efefef ;
                            }
                        }
                    }
                }
                .details-order{
                    margin-bottom: 40px ;
                    .title{
                        color: $active ;
                        font-size: 16pt ;
                        margin-bottom: 20px ;
                    }
                    .text{
                        color: $min-color ;
                        background-color: $white ;
                        border: 2px solid $light-line ;
                        border-radius: 10px ;
                        -webkit-border-radius: 10px ;
                        -moz-border-radius: 10px ;
                        -ms-border-radius: 10px ;
                        -o-border-radius: 10px ;
                        width: 70% ;
                        padding: 40px 45px 100px  ;
                    }
                }
                .documents{
                    margin-bottom: 40px ;
                    .title{
                        color: $active ;
                        font-size: 16pt ;
                        margin-bottom: 20px ;
                    }
                    .image{
                        display: inline-block ;
                        width: 120px ;
                        img{
                            width: 100%;
                            border-radius: 15px;                       
                            -webkit-border-radius: 15px ;
                            -moz-border-radius: 15px ;
                            -ms-border-radius: 15px ;
                            -o-border-radius: 15px ;
                        }
                    }
                }
            }
        }
        .buttons{
            text-align: center;
            margin-top: 25px ;
            .btn{
                @extend %btn-black ; 
                background-image: linear-gradient($btn-1 , $btn-2);
                width: 40% ;
                margin-bottom: 0 ;
                &:nth-child(2){
                    display: block ;
                    margin-inline: auto ; 
                    margin-top: 20px ; 
                    background-image: none ;
                    color: $min-color ;
                    font-weight: bold ; 
                }
            }

        }
    }
}

.pending-order-info{
    .order-info{
        position: relative ;
        .fees{
            position: absolute ;
            left: 5% ;
            background-color: $white ;
            border: 1px solid  ;
            border-color: rgba($active , 0.6);
            color: $min-color ;
            padding: 12px 35px ;
            border-radius: 10px ;
            -webkit-border-radius: 10px ;
            -moz-border-radius: 10px ;
            -ms-border-radius: 10px ;
            -o-border-radius: 10px ;
        }
    }
}

//ltr 
html[dir = "ltr"]{
    .new-order-info{
        .branches{
            @extend %branches-ltr ; 
            .branch-4{
                margin-left: 35px !important ;
                margin-right: 0 !important ;
                img{
                    transform: scaleX(2) rotateY(180deg);
                    -webkit-transform: scaleX(2) rotateY(180deg);
                    -moz-transform: scaleX(2) rotateY(180deg);
                    -ms-transform: scaleX(2) rotateY(180deg);
                    -o-transform: scaleX(2) rotateY(180deg);
                }
            }
            .branch-5{
                margin-left: 75px !important ;
                margin-right: 0 !important ;
                img{
                    transform: scaleX(1.8) rotateY(180deg) ;
                    -webkit-transform: scaleX(1.8) rotateY(180deg) ;
                    -moz-transform: scaleX(1.8) rotateY(180deg) ;
                    -ms-transform: scaleX(1.8) rotateY(180deg) ;
                    -o-transform: scaleX(1.8) rotateY(180deg) ;
                }
            }
        }
        .order-info{
            .info{
                .data{
                    margin-left: 25px ;
                    margin-right: 0 ;
                    .type-of-counseling{
                        .text{
                            margin-right: 15px ;
                            margin-left: 0 ; 
                        }
                        .time-consult{
                            margin-left: 10px ;
                            margin-right: 0 ;
                        }
                    }
                    .reserved-specialty{
                        .type-consult{
                            @extend %type-consult-ltr ;  
                        }
                    }
                    .animal-logs{
                        .images{
                            .animal{
                                &:not(:first-child){
                                    margin-right: 0 ;
                                    margin-left: 20px ;
                                }
                                .name{
                                    left: 0 ;
                                    right: initial ;
                                }
                            }
                        }
                    }
                    .write-consult{
                        margin-right: 140px;
                        margin-left: 0 ;
                    }
                }
            }
        }
    }
    .pending-order-info{
        .order-info{
            .fees{
                right: 5% ;
                left: initial ;
            }
        }
    }
}

//responsive[rtl]
@media(max-width:1399.98px){
    .new-order-info{
        .order-info{
            .data{
                .user-img{
                    position: absolute ;
                }
            }
        }
    }
}
@media(max-width:1199.98px){
    .new-order-info{
        .order-info{
            .info{
                .data{
                    .write-consult{
                        .form-group{
                            width: 80% ;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:1024px){
    .new-order-info{
        .order-info{
            .user-img{
                position: absolute ;
            }
            .data{
                .name{
                    margin-right: 100px ;
                }
                .name + .date{
                    margin-right: 100px ;
                }
                .animal-logs{
                    .images{
                        .animal{
                            .name{
                                margin-right: 0 ;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:912px){
    .new-order-info{
        padding: 50px 30px 100px ;
        .order-info{
            .button{
                .btn{
                    width: 60% ;
                }
            }
        }
    }
}
@media(max-width:768px){
    .new-order-info{
        .order-info{
            .info{
                .data{
                    .details-order{
                        .text{
                            width: 80% ;
                        }
                    }
                    .write-consult{
                        margin-left: 20px ;
                        .form-group{
                            width: 100% ;
                        }
                    }
                }
            }
            .button{
                .btn{
                    width: 70% ;
                }
            }
        }
    }
}
@media(max-width:575.98px){
    .new-order-info{
        padding: 50px 10px 100px ;
        .branches{
            display: none ;
        }
        .buttons{
            .btn{
                width: 60% !important ;
            }
        }
    }
    .pending-order-info{
        .order-info{
            .fees{
                padding: 12px 26px ;
            }
        }
    }
}
@media(max-width:500px){
    .new-order-info{
        .order-info{
            .info{
                .data{
                    margin-right: 0 ;
                    .address-consult{
                        font-size: 12pt ;
                    }
                    .reserved-specialty{
                        .title{
                            font-size: 12pt ;
                        }
                    }
                    .type-of-counseling{
                        font-size: 10pt ;
                    }
                    .name{
                        text-align: center ;
                        margin-right: 10px ;
                        .text{
                            font-size: 16pt ;
                        }
                    }
                    .date{
                        text-align: center ;
                        font-size: 12pt ;
                    }
                    .name + .date{
                        margin-right: -25px ;
                    }
                    .reserved-specialty{
                        .type-consult{
                            span{
                                &:first-child{
                                    margin-left: 0 ;
                                }
                            }
                        }
                    }
                    .animal-logs{
                        .title{
                            font-size: 12pt ;
                        }
                        .images{
                            .animal{
                                .name{
                                    width: 55px ;
                                    font-size: 18pt ;
                                    font-size: 14pt ;
                                }
                            }
                        }
                    }
                    .details-order{
                        .title{
                            font-size: 12pt ;
                        }
                        .text{
                            padding-inline: 10px ;
                            font-size: 12pt ;
                            width: 98% ;
                        }
                    }
                    .documents{
                        .title{
                            font-size: 12pt ;
                        }
                    }
                }
                .user-img{
                    position: absolute ;
                    img{
                        min-height: 90px ;
                        max-height: 90px ;
                        min-width: 90px ;
                        max-width: 90px;
                    }
                }
            }
            .button{
                .btn{
                    width: 80% ;
                }
            }
        }
        .buttons{
            .btn{
                width: 90% !important ;
            }
        }
    }
    .pending-order-info{
        .order-info{
            .fees{
                position: relative ;
                text-align: center ;
                margin-bottom: 50px ;
                left: initial ;
            }
            .buttons{
                .btn{
                    font-size: 15pt ;
                }
            }
        }
    }
}
@media(min-width : 360px) and (max-width : 361px){
    .new-order-info{
        .order-info{
            .info{
                .data{
                    .name{
                        margin-right: 60px ;
                    }
                    .date{
                        margin-right: 25px !important ;
                    }
                }
            }
        }
    }
}
@media(max-width:280px){
    .new-order-info{
        padding: 50px 0 100px ;
        .order-info{
            .info{
                .data{
                    .name{
                        margin-right: 90px ;
                    }
                    .date{
                        margin-right: 50px !important ;
                    }
                    .type-of-counseling{
                        font-size: 13pt ;
                    }
                    .reserved-specialty{
                        .type-consult{
                            span{
                                &:first-child{
                                    width: 130px ;
                                }
                                &:last-child{
                                    width: 90px ;
                                }
                            }
                        }
                    }
                    .animal-logs{
                        .images{
                            .animal{
                                .name{
                                    width: 35px ;
                                    height: 22px ;
                                    font-size: 10pt ;
                                }
                            }
                        }
                    }
                    .details-order{
                        .text{
                            font-size: 11pt ;
                            width: 98% ;
                            height: 170px ;
                        }
                    }
                    .documents{
                        .image{
                            width: 55px ; 
                            height: 90px ;
                            line-height: 87px ;
                            img{
                                min-width: 80px;
                                max-width: 80px;
                                min-height: 80px;
                                max-height: 80px;
                            }
                        }
                    }
                    .write-consult{
                        margin-left: 0 ;
                    }
                }
            }
            .buttons{
                .btn{
                    width: 88% ;
                }
            }
        }
    }
}


//responsive[ltr]

@media(max-width:1024px){
    html[dir = "ltr"]{
        .new-order-info{
            .order-info{
                .user-img{
                    position: absolute ;
                }
                .data{
                    .name{
                        margin-left: 100px ;
                        margin-right: 0 ;
                    }
                    .animal-logs{
                        .images{
                            .animal{
                                .name{
                                    margin-left: 0 ;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768.98px){
    html[dir = "ltr"]{
        .new-order-info{
            .order-info{
                .info{
                    .data{
                        .write-consult{
                            margin-right: 20px ;
                            margin-left: 0 ;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:575.98px){
    html[dir = "ltr"]{
        .new-order-info{
            .branch{
                .shape{
                    left: 60px ;
                    right: initial ;
                }
            }
        }
    }
}
@media(max-width:500px){
    html[dir = "ltr"]{
        .new-order-info{
            .order-info{
                .info{
                    .data{
                        margin-left: 0 !important ;
                        margin-right: 0 !important ;
                        .name{
                            margin-left: 60px ;
                            margin-right: 0 ;
                        }
                        .date{
                            margin-left: 25px !important ;
                            margin-right: 0 !important ;
                        }
                        .reserved-specialty{
                            .type-consult{
                                span{
                                    &:first-child{
                                        margin-right: 0 !important ;
                                        margin-left: 0 !important ;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:280px){
    html[dir = "ltr"]{
        .new-order-info{
            .order-info{
                .info{
                    .data{
                        .name{
                            margin-left: 90px ;
                            margin-right: 0 ;
                        }
                        .date{
                            margin-left: 50px !important ;
                            margin-right: 0 !important ;
                        }
                        .write-consult{
                            margin-left: 0 ;
                            margin-right: 0 ;
                        }
                    }
                }
            }
        }
    }
}