.about-us.t-c{
    .branches{
        .branch-2{
            margin-right: 35px ;
            span{
                z-index: 5 ;
                width: 125% ;
                left: -10% ;
            }
            img{
                transform: scaleX(1.8);
                -webkit-transform: scaleX(1.8);
                -moz-transform: scaleX(1.8);
                -ms-transform: scaleX(1.8);
                -o-transform: scaleX(1.8);
            }
        }
    }
}


@media(max-width:500px){
    .about-us.t-c{
        padding: 50px 20px 200px ;
        .show-case{
            padding-inline: 10px ;
        }
    }
}


